{%- macro all_area_identifiers() -%}
    {{( areas() 
    + (areas()| map("area_name")|list)
    )| to_json}}
{%- endmacro -%}

{%- macro area_identifiers(area_ids) -%}
    {%- if area_ids is string -%}
        {%- set area_ids = [area_ids] -%}
    {%- endif -%}

    {%- set area_ids = area_ids|select("in",areas())|list -%}

    {{ (area_ids + (area_ids| map("area_name") |list)) | to_json}}
{%- endmacro -%}

{%- macro area_ids(area_list) -%}
    {%- if area_list is string -%}
        {%- set area_list = [area_list] -%}
    {%- endif -%}

    {%- set area_ids = area_list|select("in",areas())|list -%}

    {{ (area_ids + (area_list| map("area_id") | reject('none') |  unique |list)) | to_json}}
{%- endmacro -%}

{%- macro area_id_tolerent(area) -%}
    {{area_ids(area)|from_json|first|d(None)}}
{%- endmacro -%}



{%- macro area_entity_id(area, label) -%}
    {{area_entities(area)| select('in', label_entities(label)) | first | d(none) }}
{%- endmacro -%}

{%- macro area_entity_room_color(area,label) -%}
    {%- set entity_id = area_entity_id(area,label) -%}
    {%- if states(entity_id) == "unknown" -%}
        {{'light-blue'}}
    {%- elif is_state(entity_id, 'on') -%}
        {{'teal'}}
    {%- elif is_state(entity_id, 'off') -%}
        {{'blue-grey'}}
    {%- else -%}
        {{'disabled'}}
    {%- endif -%}
{%- endmacro -%}

{%- macro is_area_entity_room(area,filter,state) -%}
    {%- set entity_id = area_entity_id(area,filter) -%}
    {{is_state(entity_id, state) }}
{%- endmacro -%}


{%- macro areas_entities(areas) -%}
    {%- if areas is string -%}
        {%- set areas = [areas] -%}
    {%- endif -%}
    {%- set ns = namespace(entites=[]) %}
    {%- for area in  areas -%}
      {%- set ns.entites = ns.entites + area_entities(area)|d(none) -%}
    {%- endfor -%}
    {{ns.entites | to_json}}
{%- endmacro -%}

{%- macro area_adaptive_lighting(area) -%}
    {{area_entities(area)
    | select('in',integration_entities('adaptive_lighting'))
    | reject('contains','sleep')
    | reject('contains','color')
    | reject('contains','brightness')
    | first}}
{%- endmacro -%}

{%- macro area_adaptive_lighting_sleep(area) -%}
    {{area_entities(area)
    | select('in',integration_entities('adaptive_lighting'))
    | select('contains','sleep')
    | reject('contains','color')
    | reject('contains','brightness')
    | first}}
{%- endmacro -%}

{%- macro is_area_in_quiet_mode(area) -%}
  {%- set area = area_id_tolerent(area) -%}
  {%- set quiet_mode_room =
    expand(label_entities("quiet_mode_flag")) 
    | selectattr('domain','eq','input_boolean')
    | selectattr('state', 'eq', "on")
    | map(attribute="entity_id") 
    | map('area_id')
    | list  -%}
  {{ true if ((None in quiet_mode_room) 
          or (area in quiet_mode_room)) 
          else false }}
{%- endmacro -%}


